<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="robots" content="noindex">
    <title>{% block title %}Deprecation Report{% endblock %}</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <style>{% block css %}
      .ACTIVE {background:#c00;color:#eee;}
      .SHUTOFF {color:#666;}
    {% endblock %}</style>
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{% block brand %}Deprecation Report{% endblock %}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% block nav %}{% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% block navright %}{% endblock %}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block banner %}{% endblock %}
  <div class="container">
    {% block body %}{% endblock %}
  </div>

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row"><hr></div>
      <div class="row">
        <div class="col-xs-6">
          <img src="https://tools-static.wmflabs.org/static/logos/powered-by-tool-labs.png" alt="Powered by Wikimedia Toolforge">
        </div>
        <div class="col-xs-6 text-muted text-right">
          <a id="source" href="https://gitlab.wikimedia.org/toolforge-repos/os-deprecation">view source</a>
        </div>
      </div>
    </div>
  </footer>
  {% block js %}
  <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  {% endblock %}
</body>
</html>
