{% extends "project.html" %}

{% block title %}{{project}} Buster Deprecation Report {% endblock %}
{% block heading %}Buster Deprecation Report{% endblock %}

{% block panel_body %}
<div class="panel-body">
  <p>Last updated: {{updated}}</p>
</div>
{% endblock %}
