{% extends "base.html" %}

{% block body %}
<div class="panel panel-info table-responsive">
  <div class="panel-heading"><h2 class="panel-title">{{project}}</h2></div>
  {% block panel_body %}{% endblock %}
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Instance</th>
        <th>Status</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for server in instances|sort(attribute='name') %}
      <tr class="{{ {"ACTIVE": "danger", "SHUTOFF": "warning"}[server.status] }}">
        <td><a href="https://openstack-browser.toolforge.org/server/{{server.name}}.{{server.tenant_id}}.eqiad1.wikimedia.cloud">{{server.name}}.{{server.tenant_id}}.eqiad1.wikimedia.cloud</a></td>
        <td>{{server.status}}</td>
        <td>{{server.image}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
