{% extends "base.html" %}

{% block banner %}
<div class="jumbotron">
  <div class="container">
    <h1>{% block heading %}Deprecation Report{% endblock %}</h1>
    {% block frontmatter %}<p>Review the report below to see if your Cloud VPS project is affected.</p>{% endblock %}
    <p>Last updated: {{updated}}</p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{pct_active}}" aria-valuemin="0" aria-valuemax="100" style="width:{{pct_active}}%;min-width:2em;">
    {{active}}
  </div>
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{pct_shutoff}}" aria-valuemin="0" aria-valuemax="100" style="width:{{pct_shutoff}}%;min-width:2em;">
    {{shutoff}}
  </div>
</div>
{% for project, details in manifest|dictsort if details %}
<div class="panel panel-info table-responsive">
  <div class="panel-heading"><h2 class="panel-title">{{project}}</h2></div>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Instance</th>
        <th>Status</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for server in details|sort(attribute='name') %}
      <tr class="{{ {"ACTIVE": "danger", "SHUTOFF": "warning"}[server.status] }}">
        <td><a href="https://openstack-browser.toolforge.org/server/{{server.name}}.{{server.tenant_id}}.eqiad1.wikimedia.cloud">{{server.name}}.{{server.tenant_id}}.eqiad1.wikimedia.cloud</a></td>
        <td>{{server.status}}</td>
        <td>{{server.image}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}
